*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
select{
    margin: auto;
}
label{
    margin: auto;
}
.container{
    width: 60%;
    border: 5px solid black;
    padding: 5px;
    margin: auto;
    margin-top: 100px;
}