*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 60%;
    height: 130px;
    border: 5px solid black;
    margin: auto;
    margin-top: 220px;
}
.textFade{
    font-size: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    letter-spacing: 7px;
    animation: glow;
    animation-duration: 3s;
}
@keyframes glow {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .3;
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .7;
    }
    100%{
        opacity: 1;
    }
}